{
  "presets": [
    "@babel/preset-env",
  ],
  "plugins": [
    [
      "@babel/transform-runtime",
    ],
    [
      "module-resolver",
      {
        "alias": {
          "dna-heuristic-aligner": "./src",
        }
      }
    ]
  ]
}
